.main-menu {
  /* --gap: min(var(--block-margin), 2rem); */

  display: flex;
  gap: var(--gap, var(--block-margin-small, clamp(1rem, 4vmin, 2rem)));
  margin: 0;
  list-style-type: none;
}

.main-menu__item {
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
}

.main-menu__item::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: calc(100% + 1.5em);
	height: calc(100% + 1.5em);
	transform: translate(-.75em, -.75em);
	content: '';
}

.dark-block .main-menu__item {
  color: #fff;
}

@media (hover: hover) {
  .main-menu__item:not(.btn) {
    transition: all 0.3s ease;
  }

  .main-menu__item:not(.btn):hover {
    color: var(--accent-main, hsl(44deg 100% 66% / 100%));
  }
}

@media (prefers-reduced-motion) {
  .main-menu__item {
    transition: none;
  }
}

.mobile-menu-toggler {
  display: none;
}

@media screen and (width <= 960px) {
  .mobile-menu-toggler {
    position: relative;
    z-index: 11;
    display: block;
    width: 44px;
    height: 44px;
    border: 0;
    border-radius: 50%;
    background-color: var(--color-light-grey, #f5f5f5);
  }

  .main-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    background-color: var(--color-light-grey, #f5f5f5);
    color: var(--color-black, #333);
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .dark-block .main-menu {
    background-color: var(--color-black, #333);
    color: var(--color-light-grey, #f5f5f5);
  }

  .adaptive-menu-wrapper.active .main-menu {
    transform: translateX(0);
  }
}
