.media-card-container {
  container-type: inline-size;
}

.media-card {
  --gap: var(--text-margin-small);
  --padding: var(--text-margin);

  display: flex;
  flex-flow: column wrap;
  row-gap: var(--gap);
  padding: var(--padding);
  height: 100%;
  line-height: inherit;
}

.media-card--big-gap {
  --gap: var(--text-margin);
}

.media-card--no-gap {
  --gap: 0;
}

.media-card--big-padding {
  --padding: min(var(--block-margin), 30px);
}

.media-card--bordered {
  border: 1px solid var(--color-light-grey);
}

.media-card--no-padding {
  --padding: 0;
}

.media-card__image-wrapper {
  aspect-ratio: 16 / 9;
}

.media-card__image-wrapper__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-card__title {
  margin: 0;
  margin-top: .25em;
  color: var(--color-black);
}

.media-card__description {
  margin: 0;
  color: hsl(234deg 4% 45% / 100%);
  font-weight: 400;

  /* line-height: calc(1 + 1cqi); */
}

.media-card__meta-data {
  color: var(--color-medium-grey);
  font-size: .875rem;
}

.media-card__btn .btn {
  margin-top: .5em;
}

.media-card__btn a {
  font-weight: 700;
}

.media-card__photo {
  display: block;
  margin-inline: auto;
  max-width: 128px;
  overflow: hidden;
  border-radius: 50%;
}

.media-card__photo img,
.media-card__photo picture {
  display: block;
}

.media-card__photo--photo-first {
  order: -1;
}

.media-card--gray {
  background-color: var(--color-light-grey);
}

@media (hover:hover) {
  .media-card--gray {
    transition: background .6s ease;
  }

  .media-card--gray:has(.media-card__link:hover) {
    background-color: var(--accent-main-light);
  }
}


/* @media screen and (orientation: landscape) and (height <= 640px) {
  .media-card__image-wrapper {
    max-height: 50vh;
  }
} */

@media screen and (width <= 1100px) {
  .media-card-container {
    container-name: media-card;
  }
}

@container media-card (min-width:640px) {
    .media-card:has(.media-card__image-wrapper) {
      display: grid;
      gap: 0 var(--text-margin);
      grid: auto-flow / minmax(calc(200px - var(--text-margin) * 2), 1fr) minmax(calc(300px - var(--text-margin) * 2), 1fr);
    }

    .media-card:has(.media-card__image-wrapper) :where(.media-card__description, .media-card__btn) {
      margin-top: var(--text-margin-small);
    }

    .media-card__image-wrapper {
      grid-row: 1 / 5;
      aspect-ratio: auto;
    }
}

@container media-card (max-width:640px) {
  .media-card__image-wrapper {
    max-height: 50vh;
  }
}
