.special-post {
position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: calc(var(--block-margin)* 2);
    overflow: hidden;
}

.special-post::before {
content: '';
position: absolute;
inset: 0;
width: 80%;
background: url('../images/friends.png') no-repeat center;
    background-size: cover;
}

.special-post__content {
    position: relative;
z-index: 1;
    padding: calc(var(--block-margin)* 2);
    max-width: min(716px, 100%);
    background: #fff;
}

/* @media screen and (width <= 1200px) {

} */
