@layer reset, defaults, main-menu, buttons;

@import url('@csstools/normalize.css') layer(reset);
@import url('fonts.css');
@import url('base.css') layer(defaults);
@import url('components/buttons.css') layer(buttons);
@import url('components/main-menu.css') layer(main-menu);
@import url('components/helpers.css');
@import url('components/blocks.css');
@import url('components/media-card.css');
@import url('components/special-post.css');
@import url('components/slider.css');

.bg-secondary-light {
  background-color: var(--accent-secondary-light);
}

.bg-accent-light {
  background-color: var(--accent-main-light);
}

.container {
  margin-inline:auto;
  padding-inline: var(--block-margin);
  max-width: var(--container-width);
}

.site-top__menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

.site-top {
  --gap: min(var(--block-margin), 2rem);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  padding-block: .5rem;
  min-height: min(80px, 10vmin);
}

.site-top__logo {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
}

.home-page__header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: calc(100svh - min(80px, 10vmin));
}

.home-page__header::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url('../images/man-in-black.png') no-repeat top left;
  background-size: cover;
  content: '';
}

.home-page__header::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(hsl(0deg 0% 0% / 30%), hsl(0deg 0% 0% / 60%));
  content: '';
}

.home-page__header p {
  max-width: min(600px, 100%);
}

.home-page__header .page-title {
  margin-block: .5em;
  max-width: 30ch;
}

.subtitle {
  margin: 0;
  text-transform: uppercase;
  font-size: clamp(.75rem, 2.5vmin, 1rem);
  letter-spacing: 3px;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.block-margin {
  margin-block: var(--block-margin);
}

.block-margin-top {
  margin-top: var(--block-margin);
}

.section-margin {
  margin-block: var(--block-margin-big);
}

.extra-padding {
  padding: var(--block-margin);
}


.list-inline {
  display: inline-flex;
  flex-flow: row wrap;
	justify-content: center;
  gap: var(--text-margin-small) var(--text-margin);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.simple-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@container (min-width: 600px) {
  .simple-media-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
  }
}

.list-of-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--tile-width, 30%), 1fr));
  gap: var(--text-margin);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:where(.list-of-tiles:has(:nth-child(2))) {
  --tile-width: 40%;
}

:where(.list-of-tiles:has(:nth-child(n + 4))) {
  --tile-width: 20%;
}

.list-of-tiles.list-of-tiles--small-tile {
  --min-tile-width: 180px;
  --tile-width: max(18%, var(--min-tile-width));
}

.list-of-tiles .media-card--bordered {
  height: 100%;
}

.block-centered {
  display: block;
  margin-inline: auto;
}

.decorated-top-border {
  border-top-width: calc(var(--text-margin) / 1.5);
  border-top-style: solid;
  border-image: linear-gradient(to right, #fff 20%, var(--accent-main) 20%, var(--accent-main) 80%, var(--accent-secondary) 80%) 1;
}

.icon {
  max-width: 48px;
}

.btn .icon {
  border-radius: .5rem;
  background-color: var(--accent-main-light);
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-black);
  transition: all 1s ease;
}

.section-title {
  text-align: center;
}

.featured-title {
  font-size: clamp(1rem, 4vmin, 1.5rem);
}

.icon-link {
  position: relative;
  z-index: 1;
  display: block;
  line-height: 1;
}

.icon-link::after {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	display: block;
	padding: .5rem;
	width: 100%;
	height: 110%;
	transform: translate(-50%, -50%);
	transform-origin: right bottom;
  content: '';
}

@media (hover: none) and (pointer: coarse), screen and (width <= 720px) {
  .icon-link {
    display: block;
    padding: .625rem;
    border-radius: 1rem;
    background: #e5e5e5;
  }

  .icon-link::after {
    display: none;
  }
  
  .icon-link .icon {
    display: block;
  }
}

@media (hover:hover) {
  .hoverable-block {
    transition: all .3s ease;
  }

  .hoverable-block:has(.hoverable-block__link:hover) {
    background-color: var(--accent-main-light);
  }

  a:not(.btn, .icon-link, .non-underscore-link) {
    padding-bottom: .25em;
    background-image: linear-gradient(currentcolor, currentcolor);
    background-position: 0% 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: all .2s ease-out;
  }

  a:not(.btn, .icon-link, .non-underscore-link):hover {
    background-size: 100%  2px;
  }

  a:hover .social-icon {
    fill: var(--accent-secondary);
    transition: all .1s ease;
  }
}

@media screen and (width >= 960px) {
  .text-trancate-25 {
    max-width: 25ch;
  }
}

@media screen and (width <= 1200px) {
  .list-of-tiles {
    --tile-width: 40%;
  }
}

@media screen and (height >= 800px) {
  .header-content {
    margin-top: -10vh;
  }
}

@media screen and (height <= 650px) {
  .home-page__header::after {
    background-position: center left;
  }
}

@media screen and (width <= 960px) {
  .home-page__header::after {
    background-position: 25% 50%;
  }


  .site-top__menu {
    flex: 0;
    order: 3;
  }

  .list-of-tiles.list-of-tiles--small-tile {
    --min-tile-width: 25%;

    gap: var(--block-margin) calc(var(--block-margin)* 2);
    padding-inline: 1em;
  }
}

@media screen and (width <= 680px) {
  .list-inline {
    gap: var(--text-margin-small);
  }
}

@media screen and (width <= 640px) {
  .list-of-tiles {
    --tile-width: 250px;
  }

  .list-of-tiles.list-of-tiles--small-tile {
    --min-tile-width: 100px;
  }

  .list-inline {
    gap: var(--text-margin-small);
  }

  .column-block > .media-card {
    padding: 0;
  }
}
