<div class="sticky-top dark-block">
    <div class="container site-nav site-nav--top">
        <div class="site-nav__logo">
            <img width="140" height="29" src="{% static 'Logo.svg' %}" alt="Finsweet">
        </div>
        <button class="mobile-menu-toggler" aria-hidden="true">
            <span class="menu-icon">
                <span class="menu-icon__top menu-icon__line"></span>
                <span class="menu-icon__center-1-top menu-icon__line"></span>
                <span class="menu-icon__center-2-bottom menu-icon__line"></span>
                <span class="menu-icon__bottom menu-icon__line"></span>
            </span>
        </button>
        <nav class="site-nav__menu adaptive-menu-wrapper" role="navigation">
            <ul class="main-menu site-menu">
                <li>
                    <a class="site-menu__item" href="#" aria-current="page">Home</a>
                </li>
                <li>
                    <a class="site-menu__item" href="#">Blog</a>
                </li>
                <li>
                    <a class="site-menu__item" href="#">About us</a>
                </li>
                <li>
                    <a class="site-menu__item" href="#">Contact us</a>
                </li>
            </ul>
        </nav>
        <div>
            <a class="btn btn--white" href="#">Subscribe</a>
        </div>
    </div>
</div>
