<div class="container site-top dark-block">
    <div class="site-top__logo">
        <img width="140" height="29" src="{% static 'Logo.svg' %}" alt="Finsweet">
    </div>
    <nav class="site-top__menu adaptive-menu-wrapper">
        <button class="mobile-menu-toggler"></button>
        <ul class="main-menu">
            <li><a class="main-menu__item" href="#">Home</a></li>
            <li><a class="main-menu__item" href="#">Blog</a></li>
            <li><a class="main-menu__item" href="#">About us</a></li>
            <li><a class="main-menu__item" href="#">Contact us</a></li>
        </ul>
    </nav>
    <a class="btn btn--white" href="#">Subscribe</a>
</div>
