<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        {% include "_common-top.njk" %}
        <main class="home-page">
            <header class="home-page__header container dark-block">
                <div class="z-1 header-content">
                    <p class="text-upper subtitle">Posted on
                        <span class="text-bold">startup</span>
                    </p>
                    <h1 class="page-title">Step-by-step guide to choosing great font pairs</h1>
                    <div>
                        By
                        <a rel="author" href="#">James West</a>
                        |
                        <time>May 23, 2022</time>
                    </div>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    <div class="block-margin-top">
                        <a class="btn" href="#">Read More ></a>
                    </div>
                </div>
            </header>
            <div class="section-margin container column-block">
                <section class="column-block__block column-block__block--primary media-card-container h-100">
                    <h2>Featured Post</h2>
                    <article class="media-card media-card--bordered">
                        <div class="media-card__image-wrapper">
                            <img class="media-card__image-wrapper__image" src="{% static 'white-building.png' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor">
                        </div>
                        <div class="media-card__meta-data">By
                            <a rel="author" href="#">John Doe</a>
                            |
                            <time>May 23, 2022</time>
                        </div>
                        <h3 class="media-card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h3>
                        <p class="media-card__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="media-card__btn">
                            <a href="#" class="btn">Read More ></a>
                        </div>
                    </article>
                </section>
                <section class="column-block__block">
                    <h2>All Posts</h2>
                    <ul class="simple-media-list">
                        <li class="hoverable-block">
                            <article class="media-card media-card--no-gap">
                                <div class="media-card__meta-data">By
                                    <a rel="author" href="#">John Doe</a>
                                    |
                                    <time>May 23, 2021</time>
                                </div>
                                <a class="hoverable-block__link non-underscore-link" href="#">
                                    <h3 class="media-card__title text-trancate-25 h4">8 Figma design systems that you can download for free today.</h3>
                                </a>
                            </article>
                        </li>
                        <li class="hoverable-block">
                            <article class="media-card media-card--no-gap">
                                <div class="media-card__meta-data">By
                                    <a rel="author" href="#">John Doe</a>
                                    |
                                    <time>May 23, 2021</time>
                                </div>
                                <a class="hoverable-block__link non-underscore-link" href="#">
                                    <h3 class="media-card__title text-trancate-25 h4">8 Figma design systems that you can download for free today.</h3>
                                </a>
                            </article>
                        </li>
                        <li class="hoverable-block">
                            <article class="media-card media-card--no-gap">
                                <div class="media-card__meta-data">By
                                    <a rel="author" href="#">John Doe</a>
                                    |
                                    <time>May 23, 2021</time>
                                </div>
                                <a class="hoverable-block__link non-underscore-link" href="#">
                                    <h3 class="media-card__title text-trancate-25 h4">8 Figma design systems that you can download for free today.</h3>
                                </a>
                            </article>
                        </li>
                        <li class="hoverable-block">
                            <article class="media-card media-card--no-gap">
                                <div class="media-card__meta-data">By
                                    <a rel="author" href="#">John Doe</a>
                                    |
                                    <time>May 23, 2021</time>
                                </div>
                                <a class="hoverable-block__link non-underscore-link" href="#">
                                    <h3 class="media-card__title text-trancate-25 h4">8 Figma design systems that you can download for free today.</h3>
                                </a>
                            </article>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="section-margin container">
                <section class="column-block column-block--big-gap bg-secondary-light decorated-top-border extra-padding">
                    <div class="column-block__block media-card">
                        <p class="subtitle">About us</p>
                        <h2 class="media-card__title">We are a community of content writers who share their learnings</h2>
                        <p class="media-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="media-card__btn">
                            <a href="#">Read More ></a>
                        </div>
                    </div>
                    <section class="column-block__block media-card">
                        <p class="subtitle">Our mision</p>
                        <h3 class="media-card__title">Creating valuable content for creatives all around the world</h3>
                        <p class="media-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </section>
                </section>
            </div>
            <section class="section-margin container">
                <h2 class="section-title">Choose A Catagory</h2>
                <ul class="list-of-tiles">
                    <li>
                        <a class="btn btn--white media-card media-card--bordered" href="#">
                            <img class="icon media-card__icon" src="{% static 'Business.svg' %}" alt="Business">
                            <h3 class="media-card__title">Business</h3>
                            <p class="media-card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn--white media-card media-card--bordered" href="#">
                            <img class="icon media-card__icon" src="{% static 'Startup.svg' %}" alt="Startup">
                            <h3 class="media-card__title">Startup</h3>
                            <p class="media-card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn--white media-card media-card--bordered" href="#">
                            <img class="icon media-card__icon" src="{% static 'Economy.svg' %}" alt="Economy">
                            <h3 class="media-card__title">Economy</h3>
                            <p class="media-card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn--white media-card media-card--bordered" href="#">
                            <img class="icon media-card__icon" src="{% static 'Technology.svg' %}" alt="Technology">
                            <h3 class="media-card__title">Technology</h3>
                            <p class="media-card__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="section-margin container">
                <section class="special-post">
                    <div class="media-card special-post__content">
                        <div class="subtitle">Why we started</div>
                        <h2 class="media-card__title text-lead">It started out as a simple idea and evolved into
                            <span class="dib">our passion</span></h2>
                        <p class="media-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        <div class="media-card__btn">
                            <a class="btn" href="#">Discover our story ></a>
                        </div>
                    </div>
                </section>
            </div>
            <section class="section-margin container">
                <h2 class="section-title">List of Authors</h2>
                <ul class="list-of-tiles">
                    <li>
                        <article class="media-card media-card--gray media-card--big-gap media-card--big-padding text-center">
                            <hgroup>
                                <h3 class="h4 media-card__title text-condensed" translate="no">Floyd Miles</h3>
                                <p class="media-card__description text-small">Content Writer @Company</p>
                            </hgroup>
                            <a class="media-card__photo media-card__link media-card__photo--photo-first non-underscore-link" href="#">
                                <img src="{% static 'authors/Floyd-Miles.jpg' %}" alt="Floyd Miles">
                            </a>
                            <address>
                                <ul class="list-inline">
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="facebook">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="twitter">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="instagram">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="linkedin">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </address>
                        </article>
                    </li>
                    <li>
                        <article class="media-card media-card--gray media-card--big-gap media-card--big-padding text-center">
                            <hgroup>
                                <h3 class="h4 media-card__title text-condensed" translate="no">Dianne Russell</h3>
                                <p class="media-card__description text-small">Content Writer @Company</p>
                            </hgroup>
                            <a class="media-card__photo media-card__link media-card__photo--photo-first non-underscore-link" href="#">
                                <picture>
                                    <source type="image/webp" srcset="{% static 'authors/Dianne-Russell.webp' %}"></source>
                                    <img src="{% static 'authors/Dianne-Russell.jpg' %}" alt="Dianne Russell">
                                </picture>
                            </a>
                            <address>
                                <ul class="list-inline">
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="facebook">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="twitter">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="instagram">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="linkedin">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </address>
                        </article>
                    </li>
                    <li>
                        <article class="media-card media-card--gray media-card--big-gap media-card--big-padding text-center">
                            <hgroup>
                                <h3 class="h4 media-card__title text-condensed" translate="no">Jenny Wilson</h3>
                                <p class="media-card__description text-small">Content Writer @Company</p>
                            </hgroup>
                            <a class="media-card__photo media-card__link media-card__photo--photo-first non-underscore-link" href="#">
                                <picture>
                                    <source type="image/webp" srcset="{% static 'authors/Jenny-Wilson.webp' %}"></source>
                                    <img src="{% static 'authors/Jenny-Wilson.jpg' %}" alt="Jenny Wilson">
                                </picture>
                            </a>
                            <address>
                                <ul class="list-inline">
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="facebook">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="twitter">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="instagram">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="linkedin">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </address>
                        </article>
                    </li>
                    <li>
                        <article class="media-card media-card--gray media-card--big-gap media-card--big-padding text-center">
                            <hgroup>
                                <h3 class="h4 media-card__title text-condensed" translate="no">Leslie Alexander</h3>
                                <p class="media-card__description text-small">Content Writer @Company</p>
                            </hgroup>
                            <a class="media-card__photo media-card__link media-card__photo--photo-first non-underscore-link" href="#">
                                <picture>
                                    <source type="image/webp" srcset="{% static 'authors/Leslie-Alexander.webp' %}"></source>
                                    <img src="{% static 'authors/Leslie-Alexander.jpg' %}" alt="Leslie Alexander">
                                </picture>
                            </a>
                            <address>
                                <ul class="list-inline">
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="facebook">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="twitter">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="instagram">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-link" rel="noopener" target="_blank" href="#">
                                            <svg class="social-icon icon" width="16" height="16" alt="linkedin">
                                                <use href="{% static 'social-networks/sprite.svg' %}#social-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </address>
                        </article>
                    </li>
                </ul>
            </section>
            <section class="section-margin container extra-margin">
                <div class="horizontal-block horizontal-block--centered">
                    <h2 class="h4 m-0 text-secondary">
                        <span class="text-small font-weight-normal d-block opacity_60">We are</span>
                        Featured in
                    </h2>
                    <ul class="list-of-tiles list-of-tiles--small-tile horizontal-block__content opacity_80">
                        <li><img class="block-centered" src="{% static 'logotypes/Logo_1.svg' %}" alt="Logo 1"></li>
                        <li><img class="block-centered" src="{% static 'logotypes/Logo_2.svg' %}" alt="Logo 2"></li>
                        <li><img class="block-centered" src="{% static 'logotypes/Logo_3.svg' %}" alt="Logo 3"></li>
                        <li><img class="block-centered" src="{% static 'logotypes/Logo_4.svg' %}" alt="Logo 4"></li>
                        <li><img class="block-centered" src="{% static 'logotypes/Logo_5.svg' %}" alt="Logo 5"></li>
                    </ul>
                </div>
            </section>

            <section class="section-margin container separated-block extra-padding bg-accent-light">
                <div class="separated-block__block">
                    <div class="media-card media-card--no-padding">
                        <p class="subtitle">TESTIMONIALs</p>
                        <h2 class="media-card__title">What people say about our blog</h2>
                        <p class="media-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="separated-block-separator"></div>
                <div class="separated-block__block">
                    <div class="slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="quote">
                                        <blockquote class="quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
                                        <div class="quote__footer">
                                            <div class="person-card">
                                                <div class="person-card__image person-card__image--bordered">
                                                    <picture>
                                                        <source type="image/webp" srcset="{% static 'clients/Jonathan-Vallem.webp' %}"></source>
                                                        <img class="img-fit" src="{% static 'clients/Jonathan-Vallem.jpg' %}" alt="Jonathan Vallem">
                                                    </picture>
                                                </div>
                                                <div class="person-card__name" translate="no">Jonathan Vallem</div>
                                                <div class="person-card__description text-secondary">New york, USA</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="quote">
                                        <blockquote class="quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
                                        <div class="quote__footer">
                                            <div class="person-card">
                                                <div class="person-card__image person-card__image--bordered">
                                                    <picture>
                                                        <source type="image/webp" srcset="{% static 'clients/Jonathan-Vallem.webp' %}"></source>
                                                        <img class="img-fit" src="{% static 'clients/Jonathan-Vallem.jpg' %}" alt="Jonathan Vallem">
                                                    </picture>
                                                </div>
                                                <div class="person-card__name" translate="no">Jonathan Vallem</div>
                                                <div class="person-card__description text-secondary">New york, USA</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="quote">
                                        <blockquote class="quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
                                        <div class="quote__footer">
                                            <div class="person-card">
                                                <div class="person-card__image person-card__image--bordered">
                                                    <picture>
                                                        <source type="image/webp" srcset="{% static 'clients/Jonathan-Vallem.webp' %}"></source>
                                                        <img class="img-fit" src="{% static 'clients/Jonathan-Vallem.jpg' %}" alt="Jonathan Vallem">
                                                    </picture>
                                                </div>
                                                <div class="person-card__name" translate="no">Jonathan Vallem</div>
                                                <div class="person-card__description text-secondary">New york, USA</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slider-controls">
                            <button class="slider-controls__btn prev">
                                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="btn-circle" cx="24" cy="24" r="24" transform="rotate(-180 24 24)"/>
                                    <path class="btn-arrow" d="M34.2852 25C34.8374 25 35.2852 24.5523 35.2852 24C35.2852 23.4477 34.8374 23 34.2852 23L34.2852 25ZM13.449 23.2929C13.0585 23.6834 13.0585 24.3166 13.449 24.7071L19.813 31.0711C20.2035 31.4616 20.8367 31.4616 21.2272 31.0711C21.6177 30.6805 21.6177 30.0474 21.2272 29.6569L15.5703 24L21.2272 18.3431C21.6177 17.9526 21.6177 17.3195 21.2272 16.9289C20.8367 16.5384 20.2035 16.5384 19.813 16.9289L13.449 23.2929ZM34.2852 23L14.1561 23L14.1561 25L34.2852 25L34.2852 23Z"/>
                                </svg>
                            </button>
                            <button class="slider-controls__btn next">
                                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="btn-circle" cx="24" cy="24" r="24" transform="rotate(-180 24 24)"/>
                                    <path class="btn-arrow" d="M34.2852 25C34.8374 25 35.2852 24.5523 35.2852 24C35.2852 23.4477 34.8374 23 34.2852 23L34.2852 25ZM13.449 23.2929C13.0585 23.6834 13.0585 24.3166 13.449 24.7071L19.813 31.0711C20.2035 31.4616 20.8367 31.4616 21.2272 31.0711C21.6177 30.6805 21.6177 30.0474 21.2272 29.6569L15.5703 24L21.2272 18.3431C21.6177 17.9526 21.6177 17.3195 21.2272 16.9289C20.8367 16.5384 20.2035 16.5384 19.813 16.9289L13.449 23.2929ZM34.2852 23L14.1561 23L14.1561 25L34.2852 25L34.2852 23Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
